.bg-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        width: 100%;
        height: 100%;
        object-fit: cover; // it is the same as background-size but work especiall with images, and cover the parent element
    }
}